:root {
  --color-primary-background: #e7d5c5;
  --color-secondary-background: #372b29;
  --primary-font-color: #f8a819;
  --body-copy: 1rem;
  --font-primary: "Fahkwang", sans-serif;
  --font-secondary: "Azeret Mono", sans-serif;
}
/* I downloaded a font from a website and got the syntax for CSS Rule @font-face from https://www.w3schools.com/cssref/atrule_font-face.php */
/* @font-face {
  font-family: "Folsom";
  src: url("./fonts/folsom-black-web.otf");
} */

body {
  font-family: var(--font-secondary);
  background-color: var(--color-primary-background);
}

header {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--primary-font-color);
}

h1{
  padding-bottom: 4rem;
  text-align: center;
}
h1,
h2 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

h3,
h4,
h5,
h6 {
  font-size: 1.75rem;
}


nav {
  width: 100%;
  padding: 2rem 4rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  font-family: var(--font-primary);
  color: var(--primary-font-color);
}

.nav-links::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 95%;
  background-color: var(--color-secondary-background);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.intro-section {
  width: 100%;
  padding: 2rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section h2{
  padding-bottom: 1rem;
}
.about-section h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--color-secondary-background);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
}
.about-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.image-wrapper {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  margin-block: 2rem;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-section {
  background-color: var(--color-secondary-background);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


/* calc property affecting the width creates a line that is 50% of the h2 minus half the length of the word minus the padding */
.project-section h2::before,
.project-section h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(50% - 65px - 2rem);
  background-color: var(--primary-font-color);
  top: 50%;
}

.project-section h2::before {
  left: 1rem;
}
.project-section h2::after {
  right: 1rem;
}

.project-section header {
  padding-block: 2rem;
  max-width: 900px;
}
.project-section header p {
  padding-block: 2rem;
}
.project-section p,
.project-number,
.project-arrow {
  color: var(--color-primary-background);
}

.project-number {
  font-size: 2rem;
  padding-right: 1rem;
}

.project-arrow {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: 0.5rem;

}

.project-card {
  display: flex;
  position: relative;
  padding-block: 2rem;
  max-width: 900px;
}

.project-card::before,
.project-card:last-of-type::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 2rem);
  background-color: var(--primary-font-color);
  left: 50%;
  transform: translateX(-50%);
}
.project-card::before {
  top: 0;
}
.project-card:last-of-type::after {
  bottom: 0;
}
.project-subtitle {
  padding-block: 1rem;
}

.project-description{
  font-size: 0.85rem;
  /* word-spacing: -2px; */
}

footer{
  padding: 2rem;
  display: flex;
  background-color: var(--primary-font-color);
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Media Query for small desktops */
/* I pulled these key breakpoints from https://dev.to/gerryleonugroho/responsive-design-breakpoints-2025-playbook-53ih */
@media (width >= 769px) {
  h1{
    font-size: 5rem;
  }
  .project-section{
    padding: 2rem 8rem;
  }
  h3,
h4,
h5,
h6 {
  font-size: 3rem;
}
.project-number {
  font-size: 5rem;
  padding-right: 1rem;
}
.image-wrapper {
  width: 50%;
  max-width: 300px;
  
}
.intro-section {
  padding: 2rem 6rem 4rem;
 
}

.project-arrow {
  font-size: 5rem;
}
.project-section h2::before,
.project-section h2::after {
  width: calc(50% - 130px - 2rem);
}
.about-section{
  padding-block: 3rem;
  max-width: 900px;
  
}
.about-info{
flex-direction: row-reverse;
  justify-content: center;
}
.about-text{
  width: 50%;
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

}
/* Media Query for large desktops */
/* I pulled these key breakpoints from https://dev.to/gerryleonugroho/responsive-design-breakpoints-2025-playbook-53ih */
@media (width >= 1025px) {
  .about-text{
  font-size: 1.25rem;
}
}
