:root {
  --color-primary-light: white;
  --blue: #0000f0;
  --green: #bfff04;
  --body-copy: 1rem;
  /* --heading-copy: calc(var(var(--body-copy) * 3)); */
  /* --gutter: 2rem; */
}

@font-face {
  font-family: "Folsom";
  src: url("./fonts/folsom-black-web.otf");
}
/* BACKGROUND PATTERN */
/* I wanted to use a background pattern on my page */
/* I found this pattern from CSS Generator: https://css-pattern.com/shuriken/ */
/* Conic-gradient is a gradient that rotates around the center */
/* Conic-gradient takes parameters for the specific angle, position and color */
/* g1-g4 establishes the background layers which are used in the background property */


body {
  font-family: sans-serif;
  /* color: var(--color-primary-light); */
  font-size: var(var(--heading-copy));
  block-size: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: center;
  --s: 30px; /* control the size*/
  --c1: #bfff04;
  --c2: #0000f0;
  
  --c: var(--c1) 25%,#0000 0;
  
  --_s:/calc(6*var(--s)) calc(6*var(--s));
  --g1:var(--_s) conic-gradient(from  45deg at     calc(250%/3),var(--c));
  --g2:var(--_s) conic-gradient(from 135deg at 50% calc(250%/3),var(--c));
  --g3:var(--_s) conic-gradient(from 225deg at     calc(50%/3) ,var(--c));
  --g4:var(--_s) conic-gradient(from -45deg at 50% calc(50%/3) ,var(--c));
  background:
    calc(2*var(--s)) calc(5*var(--s)) var(--g4),
    calc(5*var(--s)) calc(2*var(--s)) var(--g4),
    0                calc(4*var(--s)) var(--g3),
    calc(3*var(--s)) var(--s)         var(--g3),
    calc(2*var(--s)) calc(3*var(--s)) var(--g2),
    calc(5*var(--s)) 0                var(--g2),
    var(--s)         var(--s)         var(--g1),
    calc(4*var(--s)) calc(4*var(--s)) var(--g1),
    conic-gradient(at calc(100%/3) calc(200%/3),
    var(--c))
     0 0/calc(3*var(--s)) calc(3*var(--s)) var(--c2);
}

/* h1 {
  font-size: var(var(--heading-copy));
} */
ul {
  padding-inline: var(--gutter);
  display: grid;
  gap: var(--gutter);
}
h1{
    display: flex;
    flex-direction: column;
    font-size: 6rem;
    color: var(--green);

}
.header-container{
    background-color: var(--color-primary-light);
    margin: 2rem 2rem 2rem 0;
    padding: 2rem;
    width: auto;
    font-family: "Folsom", sans-serif;
}
header > section {
    display: flex;
    justify-content: space-between;
    color: var(--blue);
}
hgroup{
    padding-block: 4rem 6rem;
}
/* hgroup,
footer {
  color: var(--background);
  background-color: var(--color);
  padding-inline: var(--gutter);
} */
